/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background: #CCCDCA;
}
h1 {
  /*background-color: #3caa3c;*/
  /*padding: 0 0 8px 0;*/
  /*line-height: 140%;*/
  font: bold 8pt;
}
table { 
  width: 100%;
}

table td {
  border: 1px solid #eee;
  padding: 4px 6px;
 } 

table .list_even td {background: #CCCDCA}
table .list_odd td {background: #B0BBC6}

.center {
  text-align: center;
}

.linkShowHide {
  text-align: center;
  background: #B9B0BE;
}

.list_noCount {
  display:none;
}
