/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
h1 {
  background-color: #3caa3c;
  /*padding: 16px 0;*/
  line-height: 140%;
}
table { 
  width: 100%;
}

table td {
  border: 3px solid #eee;
 } 

table .list_even td {background: #e0f8f8}
table .list_odd td {background: #f8b0f8}

.center {
  text-align: center;
}

.linkShowHide {
  text-align: center;
}

.list_noCount {
  display:none;
}
